#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.crescendo {
  color:#00C896;
}

.logocontainer {
  height: 100%;
  align-items: center;
  vertical-align: center;
  columns: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  width: 80px;
  height: 80px;
  transform: translateY(100px);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #005A2A);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00C896);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 8s linear;
    will-change: transform; 
  }
}

.logo:hover {
  filter: drop-shadow(0 0 1em #ff8800aa);
}

.biglogo {
  align-items: center;
  will-change: filter;
  transition: filter 300ms;
  justify-content: right;
  align-items: right;
  display:flex;
  flex:grow; 
}
.biglogo:hover {
  filter: drop-shadow(0 0 2em #005A2A);
}
.biglogo.react:hover {
  filter: drop-shadow(0 0 2em #00C896);
}

@keyframes biglogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .biglogo {
    animation: biglogo-spin infinite 8s linear;
    will-change: transform; 
  }
}

.biglogo:hover {
  filter: drop-shadow(0 0 1em #ff8800aa);
}

.reverselogo {
  will-change: filter;
  transition: filter 300ms;
  width: 80px;
  height: 80px;
}
.reverselogo:hover {
  filter: drop-shadow(0 0 2em #005A2A);
}
.reverselogo.react:hover {
  filter: drop-shadow(0 0 2em #00C896);
}

@keyframes reverselogo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .reverselogo {
    animation: reverselogo-spin infinite 8s linear;
    will-change: transform; 
  }
}

.reverselogo:hover {
  filter: drop-shadow(0 0 1em #ff8800aa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
